*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Futura';
}
.detalhes{
    height: 40px;
    padding: 10px;
    background-color: beige;
    display: flex;
    flex-direction: row;
}
.home, .about, .shop{
    gap: 5px;
}
.div-header-right{
    right: 75%;
}
.carrinho{
    height: 20px;
    width: 20px;
}
.introduction{
    background-color: darkblue;
    color: white;
    height: 200px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec_produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
.produto{
    width: 450px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    border-color: black;
}
.img_produto{
    width: 450px;
    height: 300px;
}
.info_produtos{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nome_produto{
    font-size: medium;
}
.btn-opcao{
    border: 1px solid;
    border-color: black;
    padding: 1px;
    gap: 5px;
    border-radius: 5px;
}
.btn-opcao, .nome_produto, .preco_produto{
    display: flex;
    justify-content: center;
}
.img_tamanho{
    display: flex;
    justify-content: center;
}
.sale{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 34%;
    right: 75.5%;
    z-index: 0;
    
}